{{- $team := collections.Sort .Site.Data.team "nickname" -}}
{{- $active := where $team "active" true -}}
{{- $inactive := where $team "active" false -}}

<div>
    <h2>
        Active members
    </h2>

    <ul>
        {{ range $active }}
        <li> {{ partial "member.html" . }} </li>
        {{ end }}
    </ul>
</div>

<div style="margin-top: 2rem">
    <details>
        <summary>
            <h2 style="display: inline; cursor: pointer; text-decoration: underline;">
                Former members
            </h2>
        </summary>

        <ul>
            {{ range $inactive }}
            <li> {{ partial "member.html" . }} </li>
            {{ end }}
        </ul>
    </details>
</div>
