{{- $team := .Site.Data.team.members -}} {{- $active := where $team "active"
true -}} {{- $inactive := where $team "active" false -}}

<div>
    <div>
        <h2>Active members</h2>

        <div class="tw:grid tw:grid-cols-3 tw:gap-4">
            {{ range $active }} {{ partial "member.html" . }} {{ end }}
        </div>
    </div>

    <details style="margin-top: 2rem">
        <summary style="margin-bottom: 1rem">
            <h2 class="tw:inline tw:cursor-pointer tw:underline">
                Former members
            </h2>
        </summary>
        <div class="tw:grid tw:grid-cols-2 tw:gap-4">
            {{ range $inactive }} {{ partial "member.html" . }} {{ end }}
        </div>
    </details>
</div>
